In [19]:
# Load the raw customer shopping dataset into a DataFrame.
# This is the starting point for all cleaning, exploration, and feature engineering.
import pandas as pd
df = pd.read_csv('customer_shopping_behaviour.csv')

In [20]:
# Preview the first few rows to understand the datasetâ€™s structure and verify the load worked.
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [21]:
# Display dataset metadata to assess data quality
# Identify any cleaning or type conversion requirements.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [22]:
# Generate descriptive statistics for all columns (numeric and categorical).
# Look for value distributions, potential outliers, and any irregularities
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [23]:
# Check for missing values across all columns to identify gaps that may require cleaning
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [24]:
# Impute missing review ratings by filling them with the median rating of their respective product category.
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [25]:
# Check if missing values are cleaned after imputation step
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [26]:
# Standardize column names for consistency and easier referencing:
# - Convert to lowercase (snake_case style)
# - Replace spaces with underscores
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

# Rename column for clarity
df = df.rename(columns={'purchase_amount_(usd)': 'purchase_amount'})

In [27]:
# Verify remaining and formatting were applied
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [28]:
# Create an 'age_group' column by splitting the 'age' column into 4 equal groups.
labels = ['Young Adult', 'Adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels=labels)

In [29]:
# Display all unique age-to-age_group mappings to verify that the binning mapped properly.
df[['age','age_group']].drop_duplicates().sort_values('age')

     age    age_group
24    18  Young Adult
1     19  Young Adult
42    20  Young Adult
3     21  Young Adult
70    22  Young Adult
279   23  Young Adult
86    24  Young Adult
16    25  Young Adult
8     26  Young Adult
7     27  Young Adult
107   28  Young Adult
38    29  Young Adult
11    30  Young Adult
21    31  Young Adult
96    32        Adult
31    33        Adult
168   34        Adult
36    35        Adult
32    36        Adult
93    37        Adult
26    38        Adult
44    39        Adult
55    40        Adult
56    41        Adult
48    42        Adult
126   43        Adult
91    44        Adult
4     45  Middle-aged
5     46  Middle-aged
54    47  Middle-aged
69    48  Middle-aged
50    49  Middle-aged
2     50  Middle-aged
102   51  Middle-aged
18    52  Middle-aged
10    53  Middle-aged
28    54  Middle-aged
0     55  Middle-aged
22    56  Middle-aged
9     57  Middle-aged
94    58       Senior
51    59       Senior
292   60       Senior
12    61       Senior
100   62       Senior
6     63       Senior
14    64       Senior
13    65       Senior
19    66       Senior
41    67       Senior
49    68       Senior
40    69       Senior
39    70       Senior

In [30]:
# Create a 'purchase_frequency_days' column by converting textual purchase
# frequencies into numeric days for easier analysis and calculations.
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}
df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [31]:
# Validate that each purchase frequency was correctly mapped
df.groupby('frequency_of_purchases')['purchase_frequency_days'].unique()

frequency_of_purchases
Annually          [365]
Bi-Weekly          [14]
Every 3 Months     [90]
Fortnightly        [14]
Monthly            [30]
Quarterly          [90]
Weekly              [7]
Name: purchase_frequency_days, dtype: object

In [32]:
# Preview 'discount_applied' and 'promo_code_used' to
# understand how promotions and discounts were applied in the dataset.
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [33]:
# Check if 'discount_applied' and 'promo_code_used' are redundant by comparing
# whether their values are always the same.
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [34]:
# Drop the redundant 'promo_code_used' column
df = df.drop('promo_code_used', axis=1)

In [35]:
# Check the column was sucessfully removed
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [36]:
# Re-order columns for readability and logical flow
new_order = [
    # Customer info
    'customer_id', 'age', 'age_group', 'gender', 'location', 'subscription_status',
    
    # Product info
    'item_purchased', 'category', 'size', 'color', 'season',
    
    # Transaction info
    'purchase_amount', 'discount_applied', 'previous_purchases', 'frequency_of_purchases', 'purchase_frequency_days', 'payment_method', 'shipping_type',
    
    # Feedback
    'review_rating'
]

df = df[new_order]

In [37]:
# Save cleaned dataset
df.to_csv('customer_shopping_behaviour_cleaned.csv', index=False)

### Connecting to MS SQL Server

In [38]:
!pip install pyodbc sqlalchemy

Requirement already satisfied: pyodbc in c:\users\venet\appdata\local\programs\python\python314\lib\site-packages (5.3.0)
Requirement already satisfied: sqlalchemy in c:\users\venet\appdata\local\programs\python\python314\lib\site-packages (2.0.44)
Requirement already satisfied: greenlet>=1 in c:\users\venet\appdata\local\programs\python\python314\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\venet\appdata\local\programs\python\python314\lib\site-packages (from sqlalchemy) (4.15.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [39]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

# Load data
df = pd.read_csv("customer_shopping_behaviour_cleaned.csv")

# SQL Server details
server = r"DESKTOP-I86VNM7\SQLEXPRESS"
database = "StyleMart"
driver = quote_plus("ODBC Driver 17 for SQL Server")

# Create engine
engine = create_engine(
    f"mssql+pyodbc://@{server}/{database}?driver={driver}&trusted_connection=yes"
)

# Write DataFrame to SQL Server
df.to_sql("customer", engine, if_exists="replace", index=False)

# Read a sample
sample = pd.read_sql("SELECT TOP 5 * FROM customer;", engine)
sample

,customer_id,age,age_group,gender,location,subscription_status,item_purchased,category,size,color,season,purchase_amount,discount_applied,previous_purchases,frequency_of_purchases,purchase_frequency_days,payment_method,shipping_type,review_rating
0,1,55,Middle-aged,Male,Kentucky,Yes,Blouse,Clothing,L,Gray,Winter,53,Yes,14,Fortnightly,14,Venmo,Express,3.1
1,2,19,Young Adult,Male,Maine,Yes,Sweater,Clothing,L,Maroon,Winter,64,Yes,2,Fortnightly,14,Cash,Express,3.1
2,3,50,Middle-aged,Male,Massachusetts,Yes,Jeans,Clothing,S,Maroon,Spring,73,Yes,23,Weekly,7,Credit Card,Free Shipping,3.1
3,4,21,Young Adult,Male,Rhode Island,Yes,Sandals,Footwear,M,Maroon,Spring,90,Yes,49,Weekly,7,PayPal,Next Day Air,3.5
4,5,45,Middle-aged,Male,Oregon,Yes,Blouse,Clothing,M,Turquoise,Spring,49,Yes,31,Annually,365,PayPal,Free Shipping,2.7